.infected{
    border-bottom: 10px solid rgba( 0,0,255, 0.5);
}

.recovered{
    border-bottom: 10px solid rgba(0, 255, 55, 0.705)
}

.deaths{
    border-bottom: 10px solid rgba(255, 30, 0, 0.63)
}

.container{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.card{
    margin: 0 2% !important;
    background-color: white;
    

}

@media (max-width: 770px){
    .card{
      margin: 2% 0 !important;
    }
  
  }
  